.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-HJmegm8giAj-);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox___9LypO {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-HJmegm8giAj-);
}
.radio__bpR7:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__jWc1Z:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__v17At:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
