.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-CRrvJ4PMZV1F);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
  width: 100%;
  row-gap: var(--token-I8OVuocJBDfU);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__jQcqq {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  column-gap: var(--token-EUBfwQSqXN5A);
}
.text__zhO1 {
  position: relative;
}
.freeBox__ziUza {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-4Znw14B51hjl);
  padding-bottom: var(--token-4Znw14B51hjl);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-HIt_SMre_dXW);
  height: var(--token-EUBfwQSqXN5A);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-EUBfwQSqXN5A);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__tl3TP:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-HJmegm8giAj-);
}
.foreground {
  display: block;
  background: var(--token-oiBQRKgTZK-b);
  height: var(--token-EUBfwQSqXN5A);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
