.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-oiBQRKgTZK-b);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-EUBfwQSqXN5A);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-4Znw14B51hjl);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-V_jaBB5_LOg3);
  outline-offset: 1px;
  outline-color: var(--token-oiBQRKgTZK-b);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-43i-HIz7ZYaA);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-IMquC33Gawme);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-hEEi9Voc4L6I);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-ay0t2GX8eOuU);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-iVkVQhUN0ubl);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-Fuc_LT7RD84e);
  font-size: var(--token-ue7rSGVluArB);
  column-gap: var(--token-V_jaBB5_LOg3);
  row-gap: 0px;
  border-radius: var(--token-HJmegm8giAj-);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-ue7rSGVluArB);
  line-height: var(--token-Fuc_LT7RD84e);
  column-gap: var(--token-HJmegm8giAj-);
  row-gap: 0px;
  border-radius: var(--token-HJmegm8giAj-);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-LICGrgVIVUFa);
  line-height: var(--token-QNXNIi3VzvAC);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-LICGrgVIVUFa);
  line-height: var(--token-QNXNIi3VzvAC);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-2V-NHlTSb79m);
  border-radius: var(--token-4Znw14B51hjl);
}
.softBackgroundcolor_neutral {
  background: var(--token-tE02PaqBo5DF);
}
.softBackgroundcolor_muted {
  background: var(--token-tqD1rgoxbdyn);
}
.softBackgroundcolor_success {
  background: var(--token-DJZhrssCoTbF);
}
.softBackgroundcolor_warning {
  background: var(--token-U9pahRVgqInK);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-BawHV_HNKyeq);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-4Znw14B51hjl);
  border: 0px solid var(--token-3E_-vT7Boort);
}
.bordercolor_neutral {
  border-color: var(--token-GLlgiRFvK1Ts);
}
.bordercolor_muted {
  border-color: var(--token-hEcxwMTbsakG);
}
.bordercolor_success {
  border-color: var(--token-BcBEzgYbcfMS);
}
.bordercolor_warning {
  border-color: var(--token-Un0J_qqMxiMB);
}
.bordercolor_errorDestructive {
  border-color: var(--token-62VIc05INkYb);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-4Znw14B51hjl);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-tZox0Jsp1GuV);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-_2LzrY2tVBwL);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-BZ4WeOXoFSOR);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__hesb9 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-4Znw14B51hjl);
  min-width: 0;
  min-height: 0;
  padding: var(--token-4Znw14B51hjl) var(--token-6MaNypBzI7O8);
}
.freeBoxsize_extraSmall__hesb98Pmy {
  padding: var(--token-HJmegm8giAj-) var(--token-4Znw14B51hjl);
}
.freeBoxsize_small__hesb9Mvux9 {
  padding: var(--token-4Znw14B51hjl) var(--token-EUBfwQSqXN5A);
}
.freeBoxsize_large__hesb9RcWot {
  padding-top: var(--token-HJmegm8giAj-);
  padding-bottom: var(--token-HJmegm8giAj-);
}
.freeBoxsize_extraLarge__hesb9Jlqa {
  padding-left: var(--token-I8OVuocJBDfU);
  padding-right: var(--token-I8OVuocJBDfU);
}
.freeBoxroundedFull__hesb9YQibs {
  padding-right: var(--token-I8OVuocJBDfU);
  padding-left: var(--token-I8OVuocJBDfU);
}
.freeBox__wIpKb {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__wIpKbGf6N0 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-FSTeBcds5SMv);
}
.slotTargetStartcolor_neutral {
  color: var(--token-h9r8itk-uH2c);
}
.slotTargetStartcolor_muted {
  color: var(--token-1XwgKlWnOz_j);
}
.slotTargetStartcolor_success {
  color: var(--token-G8NdGpQOLP_6);
}
.slotTargetStartcolor_warning {
  color: var(--token-sc1NifCaJUs4);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-1wyKpOnmwqly);
}
.slotTargetStarttype_soft {
  color: var(--token-VhtAbAFq8yDF);
}
.slotTargetStarttype_bordered {
  color: var(--token-VhtAbAFq8yDF);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-ue7rSGVluArB);
}
.slotTargetStartsize_small {
  font-size: var(--token-ue7rSGVluArB);
}
.slotTargetStartsize_large {
  font-size: var(--token-LICGrgVIVUFa);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-LICGrgVIVUFa);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-gFy3A4l4aIZ5);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-gFy3A4l4aIZ5);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-Ypm13vKbqavR);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-Ypm13vKbqavR);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-D1YqMAMAAHNI);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-D1YqMAMAAHNI);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-IliQ1JBN5h61);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-IliQ1JBN5h61);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-08OCSMoHJFIu);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-08OCSMoHJFIu);
}
.svg__zntxd {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-FSTeBcds5SMv);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-h9r8itk-uH2c);
}
.slotTargetLabelcolor_muted {
  color: var(--token-1XwgKlWnOz_j);
}
.slotTargetLabelcolor_success {
  color: var(--token-G8NdGpQOLP_6);
}
.slotTargetLabelcolor_warning {
  color: var(--token-sc1NifCaJUs4);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-1wyKpOnmwqly);
}
.slotTargetLabeltype_soft {
  color: var(--token-VhtAbAFq8yDF);
}
.slotTargetLabeltype_bordered {
  color: var(--token-VhtAbAFq8yDF);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-gFy3A4l4aIZ5);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-Ypm13vKbqavR);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-gFy3A4l4aIZ5);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-D1YqMAMAAHNI);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-Ypm13vKbqavR);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-IliQ1JBN5h61);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-D1YqMAMAAHNI);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-08OCSMoHJFIu);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-IliQ1JBN5h61);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-08OCSMoHJFIu);
}
.text__ywChl {
  white-space: pre;
}
.freeBox__j7WlM {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__j7WlMuNw2A {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-FSTeBcds5SMv);
}
.slotTargetEndcolor_neutral {
  color: var(--token-h9r8itk-uH2c);
}
.slotTargetEndcolor_muted {
  color: var(--token-1XwgKlWnOz_j);
}
.slotTargetEndcolor_success {
  color: var(--token-G8NdGpQOLP_6);
}
.slotTargetEndcolor_warning {
  color: var(--token-sc1NifCaJUs4);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-1wyKpOnmwqly);
}
.slotTargetEndtype_soft {
  color: var(--token-VhtAbAFq8yDF);
}
.slotTargetEndtype_bordered {
  color: var(--token-VhtAbAFq8yDF);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-ue7rSGVluArB);
}
.slotTargetEndsize_small {
  font-size: var(--token-ue7rSGVluArB);
}
.slotTargetEndsize_large {
  font-size: var(--token-LICGrgVIVUFa);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-LICGrgVIVUFa);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-gFy3A4l4aIZ5);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-gFy3A4l4aIZ5);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-Ypm13vKbqavR);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-Ypm13vKbqavR);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-D1YqMAMAAHNI);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-D1YqMAMAAHNI);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-IliQ1JBN5h61);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-IliQ1JBN5h61);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-08OCSMoHJFIu);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-08OCSMoHJFIu);
}
.svg__nFtgq {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
