.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  column-gap: 16px;
  position: relative;
  background: none;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.freeBox__xmVo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  column-gap: 16px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xmVo {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    column-gap: 0px;
  }
}
.link__zZh6X {
  position: relative;
  display: flex;
}
.img {
  animation: none;
  object-fit: contain;
  width: 263px;
  height: 94px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
}
.freeBox__t28Kt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t28Kt {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 8px;
  }
}
.link__uvtGk {
  color: var(--token-G_UhQWFsj2RA);
  font-family: "Ruda", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__dFxX {
  color: var(--token-G_UhQWFsj2RA);
  font-family: "Ruda", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
}
.link___4Ob9L {
  color: var(--token-G_UhQWFsj2RA);
  font-family: "Ruda", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__bct0Z {
  color: var(--token-G_UhQWFsj2RA);
  font-family: "Ruda", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
}
