.root {
  object-fit: contain;
  max-width: 100%;
  height: 175px;
  width: 338px;
  position: relative;
}
.root > picture > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 70%;
  }
}
