.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-CRrvJ4PMZV1F);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
  width: 100%;
  column-gap: var(--token-EUBfwQSqXN5A);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-F6LJtffXQLJ5);
  height: var(--token-F6LJtffXQLJ5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-V_jaBB5_LOg3);
  border: 2px solid var(--token-J08ffJLl-rAr);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token-oiBQRKgTZK-b);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token-oiBQRKgTZK-b);
  border-color: var(--token-oiBQRKgTZK-b);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token-oiBQRKgTZK-b);
  border-color: var(--token-oiBQRKgTZK-b);
}
.svg__nenat {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__nenat {
  display: block;
}
.svg__sjrbu {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__sjrbu {
  display: block;
}
