.ariaInput:global(.__wab_instance) {
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px var(--token-PgXNEBmsYsZw);
  color: var(--token-CRrvJ4PMZV1F);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
  width: 100%;
  position: relative;
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-4Znw14B51hjl);
  padding: var(--token-4Znw14B51hjl) var(--token-6MaNypBzI7O8);
  border-style: none;
}
.ariaInput[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaInput[data-focused]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-V_jaBB5_LOg3);
  outline-offset: 1px;
  outline-color: var(--token-oiBQRKgTZK-b);
}
.ariaInputtype_soft:global(.__wab_instance) {
  background: var(--token-tqD1rgoxbdyn);
  box-shadow: none;
}
.ariaInputtype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-weZiKMwbUAI0);
}
.ariaInputtype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaInputtype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-tqD1rgoxbdyn);
}
.ariaInputflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaInputflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaInputflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaInputpadded_left:global(.__wab_instance) {
  padding-left: var(--token-qWKUc8ZLf27N);
}
.ariaInputpadded_right:global(.__wab_instance) {
  padding-right: var(--token-qWKUc8ZLf27N);
}
