.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: 175px;
  width: 175px;
  flex-shrink: 0;
  border-radius: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 173px;
  height: auto;
  max-width: 100%;
  padding: 8px 0px;
}
.text___9A9Kj {
  position: relative;
  width: 87px;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: left;
  margin-right: 8px;
  flex-shrink: 0;
}
.httpsWwwLinkedinComInPetaMilanSheHerB4307A27 {
  display: flex;
}
.linkedin:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.text__sv0Af {
  font-size: 12px;
  max-width: 174px;
  width: 100%;
  text-align: left;
  min-width: 0;
}
