.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--token-d_ZC_wjresHd);
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 5%;
}
.columns {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 64px;
  min-width: 0;
  --plsmc-rc-col-gap: 64px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column {
    width: 100%;
  }
}
.freeBox__nEkcn {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  min-width: 0;
}
.text__eqjz9 {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-B8HT13iLe2bn);
  height: auto;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__k2K6I {
  color: var(--token-RvPI6LyeIPmd);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  transition-property: all;
  transition-duration: 1s;
  pointer-events: auto;
  cursor: auto;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.link__hjtT {
  color: var(--token-jgohepLVeKvh);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__oOrMe {
  color: var(--token-jgohepLVeKvh);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__rkI5Q {
  color: var(--token-jgohepLVeKvh);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__usnqb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 16px;
  padding-top: 10px;
}
.freeBox__nhkrf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.twitter:global(.__wab_instance) {
  width: 100%;
  max-width: 18px;
  min-width: 0;
}
.linkedin:global(.__wab_instance) {
  flex-shrink: 0;
}
.text__wxAc {
  font-size: 14px;
}
