.ariaTooltip:global(.__wab_instance) {
  box-sizing: border-box;
  position: relative;
  color: #ffffff;
}
.slotTargetTrigger {
  color: var(--token-CRrvJ4PMZV1F);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
}
.text__bqhVz {
  position: relative;
}
.overlayArrow:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox {
  display: flex;
  position: relative;
  background: var(--token-L4XGJz1rrLLv);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  row-gap: var(--token-HJmegm8giAj-);
  border-radius: var(--token-EUBfwQSqXN5A);
  padding: var(--token-I8OVuocJBDfU);
}
.slotTargetContent {
  color: var(--token-h9r8itk-uH2c);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
}
