.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button2___8YeHx:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__fCndk {
  position: relative;
  height: 1em;
}
.svg__nfqDp {
  position: relative;
  height: 1em;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  color: var(--token-CRrvJ4PMZV1F);
  line-height: var(--token-kMsMLcRmdEix);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-I8OVuocJBDfU);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox__fKOjp {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: var(--token-G_UhQWFsj2RA);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-EUBfwQSqXN5A);
  border-radius: var(--token-I8OVuocJBDfU);
  padding: var(--token-P1nTcwXY7HIO);
}
.text__uhcM6 {
  position: relative;
}
.text__xYxR9 {
  position: relative;
  font-weight: 500;
}
.text__dGn2S {
  position: relative;
}
