.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-CRrvJ4PMZV1F);
  font-family: var(--token-A2fQenzj_i6N);
  font-size: var(--token-72GYibhMnDJA);
  line-height: var(--token-kMsMLcRmdEix);
  width: 100%;
  column-gap: var(--token-EUBfwQSqXN5A);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__izjTz {
  display: flex;
  position: relative;
  width: var(--token-F6LJtffXQLJ5);
  height: var(--token-F6LJtffXQLJ5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-J08ffJLl-rAr);
}
.ariaRadio[data-selected] .freeBox__izjTz {
  background: var(--token-oiBQRKgTZK-b);
  border-color: var(--token-oiBQRKgTZK-b);
}
.ariaRadio[data-focus-visible] .freeBox__izjTz {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-oiBQRKgTZK-b);
  outline-width: 2px;
}
.freeBox__erSmN {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__erSmN {
  width: var(--token-4Znw14B51hjl);
  height: var(--token-4Znw14B51hjl);
  flex-shrink: 0;
  display: block;
}
